

h1{
   color: rgb(0,126,197);
   font-family: sans-serif;
   font-size: 50px;
   line-height: 56px;
   vertical-align: baseline;
   letter-spacing: normal;
   word-spacing: 0px;
   margin-left:30px;
   padding:20px;
   font-weight: 700;
}
p{
    color: rgb(88,85,85);
    font-family: sans-serif;
    font-size: 15px;
    line-height: 27.8571px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 25px;
    padding: 30px;
    font-weight: 400px;
    line-height: 20px;
    margin-top: -50px;
    
    

}
button{
    color: rgb(255, 253, 253);
    outline: auto;
    background-color: #3f7ec5;
    font-size: 15px;
    border-radius: 50px;
    border-color: #3f7ec5;
    margin-right: 30px;
    padding: 12px 30px ;
    font-family: sans-serif;
    font-weight: 400;
    margin-left:55px;
}
.y{
    font-family: sans-serif;
    margin-left: 0px;
    margin-top: -420px;
    font-size: 20px;
}

.discode{
    height: 364px;
    width: 555px;
    margin-left: 420px;
    padding: 166px;
    margin-top: -540px;

}
.container{
    overflow: hidden;
}
.logo img{
    width: 180px;
    margin-left:10px ;
}
.checkbtn{
    font-size: 30px;
    color: #3f7ec5;
    float: right;
    line-height: 80px;
    margin-right: -40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.nav-links{
    margin-left: 400px;
}
.btn1{
    margin-left: 120px;
    background-color: #3f7ec5;
    border-radius: 40px;
    color: white;
}
.husnain{
    border-radius: 40px;
    margin-left: 35px;
}
.hs{
    margin-top: -308px;
}
.u{
    margin-left: 725px;
}
 .she{
    margin-left: 688px;
} 

@media (max-width:1440px) {
    img.g {
        margin-left: 681px;
    }
    img.she{
        margin-left: 678px;
        width: 533px;
    }
    img.u {
        margin-left: 835px !important;
    }
    h6.y {
        margin-left: 71px;
    }
    .col.col-xxl-2.col-xl-2.col-md-6.col-sm-3.col-12.wer {
        margin-left: 0px;
    }
}
@media (min-width:768px) and (max-width: 1024px) {
    img.g {
        margin-left: 497px;
        width: 468px;
    }
    img.she {
        margin-left: 464px;
        width: 533px;
    }
    img.u {
        margin-left: 574px !important;
    }
    .nav-links{
        margin-left: 277px;
    }
    .btn1{
        margin-left: 20px !important;
    }
    .col.col-xxl-2.col-xl-2.col-md-6.col-sm-3.col-12.wer {
        margin-left: -202px;
    }
}
@media (min-width:425px) and (max-width: 786px) {
    img.g {
        margin-left: 57px;
        width: 330px;
    }
    img.she {
        margin-left: 39px;
        width: 338px;
    }
    .onestop {
        margin-top: 207px;
    }
    .hs {
        margin-top: 88px;
    }
    img.u {
        margin-left: 21px !important;
        margin-bottom: 446px;
    }
    .col.col-xxl-2.col-xl-2.col-md-6.col-sm-3.col-12.wer {
        margin-left: -148px;
    }
}
@media (min-width:375px) and (max-width: 425px) {
    img.g {
        margin-left: 22px;
        width: 330px;
    }
    img.she {
        margin-left: 7px;
        width: 338px;
    }
    .onestop {
        margin-top: 207px;
    }
    .hs {
        margin-top: 88px;
    }
    img.u {
        margin-left: 21px !important;
        margin-bottom: 446px;
        width: 328px;
        height: 371px !important;
    }
    h6.y {
        margin-left: 21px;
    }
    .col.col-xxl-2.col-xl-2.col-md-6.col-sm-3.col-12.wer {
        margin-left: -125px;
    }
}

@media(max-width:320px){
    img.g {
        margin-left: 0;
        width: 310px;
    }
    img.she {
        margin-left: 0;
        width: 301px;
    }
    .onestop {
        margin-top: 207px;
    }
    .hs {
        margin-top: 88px;
    }
    img.u {
        margin-left: 6px !important;
        margin-bottom: 446px;
        width: 283px;
        height: 352px !important;
    }
    h6.y {
        margin-left: 21px;
    }
    .col.col-xxl-2.col-xl-2.col-md-6.col-sm-3.col-12.wer {
        margin-left: -93px;
    }
}